body{
  font-family: Arial;
  margin:0;
  background:#f4f4f4;
}

.navbar{
  background:#222;
  color:white;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
}

.navbar a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

.container{
  padding:40px;
}

form{
  display:flex;
  flex-direction:column;
  width:300px;
}

input{
  margin-bottom:15px;
  padding:10px;
}

button{
  padding:10px;
  background:#007bff;
  color:white;
  border:none;
  cursor:pointer;
}